# User specific configuration
usr/
Configuration.ini

# Build directories
.vs/
Debug/
Release/
tests/
bin/

archive/
logs/

*.exe
*.user
*.vars

# Bloated Windows Databases
*.db
*.exp
*.idb
*.ilk
*.lastbuildstate
*.log
*.opendb
*.opensdf
*.pdb
*.sdf
*.suo

# Compiled files
*.dll
*.exe
*.lib
*.lo
*.o
*.obj
*.slo

# Python
__pycache__/

# Sublime Text
*.sublime*

# Vim
*.swp
